.hidden {
  display: none;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides-image-class{
  display: flex;
  align-items: center;
  justify-content: center;
}